@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: #222;
    color: gainsboro;
    line-height: 1.6em;
}
a {
    text-decoration: none;
    color: gainsboro;
}
/* Netflix accordion */
.faq .inner {
    width: 700px;
    margin: auto;
}
.faq .inner h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 50px;
}

.faq-title {
    background-color: #303030;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 3px;
    position: relative;
}
.faq-title::before {
    content: '\e9c5';
    font-family: xeicon;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 11px;
    transition: 0.5s;
}
.faq-title.active::before {
    transform: rotate(45deg);
}
.faq-title:hover,
.faq-title.active {
    background-color: #34495e;
}
/* <i class="xi-plus-thin"></i>로 했을때 */
/* .faq-title i {
    font-size: 20px;
    float: right;
    transition: 0.5s;
} */
/* .faq-title.active i {
    transform: rotate(45deg);
} */

/* <em></em>으로 했을때 */
/* .faq-title em {
    font-style: normal;
    width: 20px;
    height: 20px;
    float: right;
    transition: 0.5s;
}
.faq-title em::before {
    content: '\e9c5';
    font-family: xeicon;
}
.faq-title.active em {
    transform: rotate(45deg);
} */


.faq-content {
    background-color: #303030;
    padding: 10px;
    margin-bottom: 5px;
    display: none;
}
